.success-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
