.product-image {
    /* height: 100%;
    width: 70%;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 15px; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;

}

.page-container {
    /* width: 100vw;
    height: 50vh; */
    width: 100%;
    margin-top: 2%;
}

.product-div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 20px;
    column-gap: 5%;
}

.product-image-div {
    box-shadow: 0px 0px 4px 3px rgba(165, 165, 165, 0.181);

    display: flex;
    justify-content: center;
    position: relative;
    aspect-ratio: 16/9;
    /* overflow: hidden; */
    border-radius: 15px;
    margin-bottom: 2%;
}


.product-details {
    border-bottom: 2px solid lightgray;
}

.product-price {
    font-size: 18pt;
}

strong {
    font-size: 14pt;
}

p {
    font-size: 14pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.price-of-product {
    font-size: 36px;
}

.select-quantity {
    width: 99%;
    /* height: 30px; */
    border: 2px solid #E7E7E7;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 3px rgba(202, 202, 202, 0.25);
    margin-bottom: 15px;
    padding: 0.66rem 0.5rem;
}

.button-div {
    display: flex;
    flex-direction: column;
}

.buy-button {
    margin-bottom: 12px;
    /* height: 30px; */
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    padding: 0.7rem 1.5rem;
}

.add-cart-button {
    /* height: 30px; */
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 0.7rem 1.5rem;
}

.low-stock {
    color: red;
}

.buyersLogoContainer {
    display: flex;
    flex-shrink: 1;
    height: 100%;
    width: 100%;
}

.buyersUserAndListingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 10px;
}

.buyersUserAndListingContainer strong {
    font-size: 16px;
}

.buyersImageLogo {
    height: 35px;
    width: 35px;
    border-radius: 150px;
    margin: 20px 0;
    /* margin: auto; */
}
