.edit-review-container {
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-review-btn {
    margin-bottom: 12px;
    /* height: 30px; */
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    padding: 0.7rem 1.5rem;
}

.disabled-button {
    pointer-events: none;
}

.keep-review-btn {
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 0.7rem 1.5rem;
}
