.profile-dropdown {
  position: absolute;
  /* added z-index and background due to overlapping hover elements on product-cards */

  z-index: 10;
  background: white;
  /* added border radius so bottom left isnt sharp */
  border-radius: 5px;
}

.hidden {
  display: none;
}

.white-space {
  margin: 0 10%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  margin-top: 1%;
}

.nav-buttons {
  display: flex;
  /* width: 200px; */
  /* commented out width so the search bar stretches when less logos/logged out -anton */
  justify-content: center;
  align-items: center;
}

div[class*="nav-buttons-"] {
  padding: 8px;
  border-radius: 50%;
  /* commented out this line due to the overflowing border */
  /* border: 1px solid white; */
}

.nav-profile-button {
  border: 1px solid white;
  border-radius: 40%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  cursor: pointer;
}

.fa-user {
  border: 1px solid lightgray;
  background-color: lightgray;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-buttons-shop {
  margin-left: 10px;
}

.nav-buttons-shop:hover {
  background-color: lightgray;
}

.nav-buttons-cart {
  width: 12px;
  height: 12px;
  position: relative;
}

.fa-shopping-cart {
  position: absolute;
  right: 5px;
  bottom: 5px;
  /* border: 1px solid red; */
  z-index: 0;
}

.cart-item-num {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid orange;
  background-color: orange;
  border-radius: 8px;
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: 1;
  right: 0px;
  bottom: 15px;
  font-size: 10px;
  font-weight: bold;
  color: black;

}

.nav-buttons-cart:hover {
  background-color: lightgray;
}

.nav-profile-button:hover {
  background-color: lightgray;
}

.nav-search {
  display: flex;
  justify-content: center;
  /* width: 75%; */
  /* Trying to get rid of white space between -anton */
  width: 100%;
}

.nav-search-bar {
  border-radius: 15px;
  padding: 15px;
  height: 30px;
  /* width: 95%; */
  /* Trying to get rid of white space between -anton */
  width: 100%;
}

.nav-home {
  font-size: 30px;
  margin: 0px 10px;
}

.nav-home:hover {
  text-decoration: underline;
}

/* profile dropdown CSS -------------------------------------------- */

.profile-dropdown-container {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 110px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 1px;
}

.profile-dropdown-div {
  height: 110px;
}

.profile-dropdown-user {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100px;
  padding: 2px 0px;
  border-radius: 5px;
  cursor: not-allowed;
}

.profile-dropdown-user:hover {
  background-color: lightgray;
}

.profile-dropdown-name {
  margin: 3px 0px 0px 7px;
}

.profile-dropdown-purchases {
  padding: 4px 0px 0px 0px;
  width: 100px;
  height: 33px;
  border-radius: 5px;
}

.profile-dropdown-purchases:hover {
  background-color: lightgray;
}

.fa-clipboard-list {
  height: 33px;
  width: 20px;
  padding: 4px 4px;
}

.profile-dropdown-logout {
  width: 100px;
  height: 33px;
  padding-top: 5px;
  border-radius: 5px;
}

.profile-dropdown-logout:hover {
  background-color: lightgray;
  cursor: pointer;
}

.fa-sign-out-alt {
  height: 20px;
  width: 20px;
  padding: 0px 4px;
}

/* profile logout signup CSS -------------------------------------------- */

.profile-logsign-div {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
  /* by default buttons were xparent, so added background white */
  background: white;
}

.login-sign-btn {
  border: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: bold;
  border-radius: 3px;
  padding: 8px 8px;
  cursor: pointer;
}

.login-sign-btn:hover {
  background-color: lightgray;
}
