.sign-form-container {
    display: flex;
    justify-content: center;
    /* height: 380px;
    width: 300px; */
    /* uncommented the width/height due to the state of the login modal changing and overflowing the container. removing hard-set width/height allows container to be flexible in every state instead  */
    border-radius: 10px;
}

.sign-form-div {
    /* height: 300px; */
    /* default property of height is auto, and if we were to set a height value then any flexible content will overflow. */
    padding: 20px;
    width: 270px;
}

.sign-form-form {
    display: flex;
    flex-direction: column;
}

.sign-form-header {
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
}

.sign-form-section-div {
    margin: 7px 0px;
}

.sign-form-input {
    width: 260px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.sign-button-div {
    margin: 20px 0px;
}

.sign-form-button {
    width: 266px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(46, 46, 46);
    color: white;
}

.sign-form-button:hover {
    font-weight: bold;
}
