.create-review {
    height: auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;

}

.numberOfreviews {
    margin-top: 10px;
    border-bottom: 2px solid #cdcbcb;
    font-size: 36px;
    font-weight: bold;
}

.buyersReview {
    font-size: 20px;
}

.buyersLogoContainer {
    padding-top: 2px;
    border-bottom: 1px solid #cdcbcb;


}

.reviewStarsContainer {
    padding: 15px 0;
}

.buyersProductEditButton {
    background-color: transparent;
    border: transparent;
    text-decoration-line: underline;
    cursor: pointer;

}

.buyersProductRemoveButton {
    background-color: transparent;
    border: transparent;
    text-decoration-line: underline;
    cursor: pointer;
    margin-left: 3px;
}

.buyersUsername {
    padding-bottom: 5px;
    padding-left: 5px;
}

.buyersPostReviewButton {
    padding: 15px;
}

.buyersPostReviewButton .create-review:hover {
    transform: scale(1.05);
    background-color: black;
    color: white;
}

.create-review {
    border-radius: 20px;
    background-color: transparent;
    padding: 10px;
    transition: transform 0.5s ease-out, background-color 0.5s ease-out, color 0.5s ease-out;
    cursor: pointer;
}
