.delete-product_and_review-container {
    width: 30vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-product_and_review-button {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 70%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: red;
    color: white;
    cursor: pointer;
}

.keep-product_and_review-button {
    width: 70%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
}

.delete-question {
    margin: 20px;
}